<h3>{{errorMsg}}</h3>
<div class="container">
    <h2>Weather list</h2>         
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Date</th>
          <th>Weather</th>
          <th>Cloud</th>
          <th>Wind speed</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let w of weather" (click)="onSelect(w)" routerLink="/weatherDetails">
            <td>{{w.dt_txt | date}}</td>
            <td>{{w.weather[0].main}}</td>
            <td>{{w.clouds.all}}</td>
            <td>{{w.wind.speed}}</td>
        </tr>
      </tbody>
    </table>
  </div>