<h1>Details</h1><br>
<div class="container">
<span><strong>Date :</strong> {{weatherDt.dt_txt}}</span><br>
<span><strong>Temperature :</strong> {{weatherDt.main.temp}}</span><br>
<span><strong>Minimum Temperature :</strong> {{weatherDt.main.temp_min}}</span><br>
<span><strong>Maximum Temperature :</strong> {{weatherDt.main.temp_max}}</span><br>
<span><strong>Pressure :</strong> {{weatherDt.main.pressure}}</span><br>
<span><strong>Sea level :</strong> {{weatherDt.main.sea_level}}</span><br>
<span><strong>Ground level :</strong> {{weatherDt.main.grnd_level}}</span><br>
<span><strong>Humidity :</strong> {{weatherDt.main.humidity}}</span><br>
</div>